section#home{
  div#content{
    background-color: $grey;
    padding-top: 20px;
    padding-bottom: 20px;
    div.content-wrapper{
      max-width: $max-width;
      margin: 0 auto;
      @media screen and (max-width: 1024px){
        max-width: 750px;
      }
      @media screen and (max-width: 767px){
        max-width: 460px;
      }
      @media screen and (max-width: 479px){
        max-width: 350px;
      }
      &.page{
        div.item{
          float: none;
          width: 100%;
        }
      }
      div.item{
        //width: 25%;
        float:left;
        background-color: white;
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        width: calc(95% / 4);
        margin-right: 1.6%;
        &:last-child{
          margin-right: 0%;
        }
        h3{
          font-size: 18px;
          color: $dark-blue;
          font-weight: normal;
        }
        ul{
          //list-style-position: inside;
          margin-top: 15px;
          margin-bottom: 35px;
          margin-left: 18px;
          height: 145px;
          @media screen and (max-width: 767px){
            height: auto;
          }
        }
        a{
          background-color: $dark-blue;
          padding: 10px 20px;
          color: $white;
          text-decoration: none;
          position: relative;
          display: block;
          text-align: center;
          width: 50%;
          margin: 0 auto;
        }
        @media screen and (max-width: 1024px){
          width: 46%;
          margin-right: 2%;
          margin-left: 2%;
          margin-bottom: 2%;
        }
        @media screen and (max-width: 767px){
          width: 95%;
          float: none;
          display: block;
          margin: 0 auto !important;
          margin-bottom: 2% !important;
        }
        @media screen and (max-width: 479px){
          width: 95%;
        }
      }
    }

  }
  div.customers{
    max-width: $max-width;
    margin: 0 auto;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: justify;
    @media screen and (max-width: 1024px){
      max-width: 750px;
    }
    @media screen and (max-width: 767px){
      max-width: 460px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 479px){
      max-width: 350px;
    }
    img{
      display: inline-block;
      vertical-align: middle;
      @media screen and (max-width: 1024px){
        width: 12%;
      }
      @media screen and (max-width: 767px){
        width: 20%;
      }
    }
    @media screen and (max-width: 767px){
      height: auto;
    }
    &:after{
      content: '';
      width: 100%;
      display: inline-block;
    }
  }
}
