$white: #FFF;
$black: #000;
$grey: #c3c3c3;
$dark-blue: #0d1e32;
$light-grey: #f3f3f3;
$max-width: 1300px;
/*@media screen and (max-width: 1024px){
  $max-width: 750px;
}
@media screen and (max-width: 767px){
  $max-width: 460px;
}
@media screen and (max-width: 479px){
  $max-width: 350px;
}*/
